In [39]:
# fundamental libraries
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# utils
from utils.save_result import *
from utils.visualization import *
from utils.test_functions import *
from utils.engineering_problem import *
from utils.ourmodel import *

In [40]:
bio_model_names = ["OriginalBBO", "OriginalBMO", "OriginalEOA", "OriginalIWO", "OriginalSMA", 
                   "OriginalSOA", "OriginalSOS", "OriginalWHO", "Model"]

### CLASSICAL TEST FUNCTION

In [41]:
f_names = ["F1", "F2", "F3", "F4", "F5", "F6", "F7", "F8", "F9", "F10", "F11", "F12", "F13", "F14", "F15", "F16"]

f_function = ["Ackley2", "Brent", "ChungReynolds", "Cigar", "Matyas", "Leon", "Michalewicz", "CrossInTray", 
                   "Hosaki", "Langermann", "Levy5", "Mishra5", "Alpine2","Hansen", "Himmelblau", "Chichinadze"]

#### Get Statistical Results

In [42]:
best_fit_statistic(test_folder="bio/classic", test_names=f_names, models=bio_model_names)

                        BBO       BMO       EOA       IWO     Model       SMA  \
Problem Statictic
F1      min        1.000000  0.000000  0.023134  0.001125  0.000000  0.000000
        std        0.430083  0.000000  0.077981  0.000239  0.000000  0.000000
F10     min        0.012543  1.000000  0.149246  0.000001  0.000014  0.000000
        std        0.418474  0.081256  0.057759  0.000002  0.009670  0.000000
F11     min        0.245251  0.739384  0.375057  0.000003  0.000116  0.000000
        std        0.720894  0.433990  0.260410  0.000006  0.000705  0.452192
F12     min        0.139837  1.000000  0.269922  0.000000  0.000000  0.000000
        std        0.255643  1.000000  0.039691  0.000000  0.000002  0.000000
F13     min        0.105562  1.000000  0.007451  0.000002  0.000001  0.000002
        std        0.045450  1.000000  0.005608  0.000001  0.000045  0.000003
F14     min        0.036538  1.000000  0.040326  0.000000  0.000390  0.000001
        std        0.625651  0.962143  0.076342  0.000005  0.001016  0.000016
F15     min        0.160337  0.823853  0.006492  0.000000  0.000007  0.000000
        std        0.094856  1.000000  0.013099  0.000001  0.000090  0.000003
F16     min        0.018985  1.000000  0.005219  0.000000  0.000003  0.000001
        std        1.000000  0.313435  0.017466  0.033730  0.031031  0.000008
F2      min        0.000594  1.000000  0.016216  0.000000  0.000000  0.000000
        std        0.030263  1.000000  0.035123  0.000000  0.000000  0.000000
F3      min        1.000000  0.000000  0.000005  0.000000  0.000000  0.000000
        std        0.030958  0.000000  0.000007  0.000000  0.000000  0.000000
F4      min        1.000000  0.000000  0.052074  0.000006  0.000000  0.000000
        std        1.000000  0.000000  0.000319  0.000396  0.000000  0.000000
F5      min        1.000000  0.000000  0.061392  0.000118  0.004543  0.000000
        std        1.000000  0.000000  0.003726  0.000000  0.000020  0.000000
F6      min        1.000000  0.593843  0.041651  0.000133  0.000023  0.000178
        std        0.519684  1.000000  0.038375  0.000034  0.023576  0.000174
F7      min        0.125183  1.000000  0.022187  0.000114  0.000046  0.000001
        std        0.061654  1.000000  0.018283  0.000010  0.000066  0.000003
F8      min        0.246804  1.000000  0.067368  0.000002  0.000025  0.000000
        std        0.073031  0.093621  0.022474  0.000000  0.000091  0.000000
F9      min        0.005762  0.558372  0.065086  0.000011  0.000047  0.000001
        std        0.073396  0.677524  0.015425  0.000001  0.000029  0.000000

                        SOA       SOS       WHO
Problem Statictic
F1      min        0.155706  0.000000  0.000000
        std        1.000000  0.000000  0.000079
F10     min        0.225941  0.000000  0.000000
        std        1.000000  0.000000  0.782343
F11     min        1.000000  0.000000  0.000000
        std        1.000000  0.000000  0.466164
F12     min        0.010465  0.000000  0.000000
        std        0.498330  0.000000  0.000000
F13     min        0.107923  0.000000  0.000000
        std        0.801375  0.000000  0.000018
F14     min        0.146020  0.000050  0.000000
        std        1.000000  0.000822  0.000000
F15     min        1.000000  0.000000  0.000000
        std        0.689405  0.000001  0.000000
F16     min        0.100581  0.000000  0.000000
        std        0.468119  0.000000  0.045804
F2      min        0.000000  0.000000  0.000000
        std        0.000000  0.000000  0.000000
F3      min        0.000011  0.000000  0.000000
        std        1.000000  0.000000  0.000000
F4      min        0.113417  0.000000  0.000000
        std        0.026672  0.000000  0.000004
F5      min        0.064307  0.000000  0.000000
        std        0.405011  0.000000  0.000000
F6      min        0.046957  0.000000  0.000000
        std        0.110173  0.000000  0.000014
F7      min        0.125819  0.000000  0.000000
        std        0.852408  0.000000  0.000111
F8      min        0.030116  0.000000  0.000000
        std        1.000000  0.000011  0.000000
F9      min        1.000000  0.000000  0.000000
        std        1.000000  0.000000  0.043660

#### Compare Models by Ranking

In [43]:
best_fitness(test_folder="bio/classic", test_names=f_names, models=bio_model_names)

In [44]:
compute_rank(test_folder="bio/classic", test_names=f_names)

   Problem   BBO   BMO   EOA   IWO   SMA   SOA   SOS   WHO  Model
0       F1  8.28  1.00  7.00  6.00  1.00  8.72  1.00  2.60   1.00
1       F2  7.12  9.00  7.88  1.00  1.00  1.00  1.00  1.00   1.00
2       F3  8.64  1.00  6.52  1.00  1.00  8.08  1.00  1.00   1.00
3       F4  9.00  1.00  6.68  6.32  1.00  8.00  1.00  3.88   1.00
4       F5  9.00  1.00  6.76  1.00  1.00  7.20  1.00  1.00   3.00
5       F6  8.04  8.96  6.12  2.84  3.52  6.88  1.00  1.12   4.56
6       F7  7.00  9.00  6.00  3.48  1.12  8.00  1.00  1.36   3.80
7       F8  7.04  8.28  6.04  1.00  1.00  8.64  1.12  1.00   2.76
8       F9  6.80  8.84  6.12  1.40  1.00  8.16  1.00  2.28   3.88
9      F10  7.40  7.56  5.96  2.84  1.00  8.52  1.00  2.36   4.64
10     F11  7.16  7.76  5.64  3.56  3.56  9.00  1.00  2.08   4.56
11     F12  7.40  9.00  7.32  1.00  1.00  6.28  1.00  1.00   3.08
12     F13  7.08  9.00  6.00  1.32  2.12  7.92  1.00  1.24   4.52
13     F14  6.92  8.40  6.08  2.00  3.00  8.60  4.04  1.00   4.96
14     F15  7.00  8.96  6.00  2.52  2.88  8.04  1.16  1.00   4.84
15     F16  8.28  8.28  5.08  3.00  2.32  7.44  1.00  3.72   4.56

#### Compare Models by Signed Test

In [45]:
classic = signed_test(test_folder="bio/classic", test_names=f_names, trial_size=25)
classic

  Model2  (+)  (-)  Trials
0    BBO    3  397     400
1    BMO   10  390     400
2    EOA   11  389     400
3    IWO  221  179     400
4    SMA  223  177     400
5    SOA    4  396     400
6    SOS  233  167     400
7    WHO  208  192     400

### CEC22 FUNCTION

In [46]:
c_names = ["C1", "C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10", "C11", "C12"]
c_function = ["F12022", "F22022", "F32022", "F42022", "F52022", "F62022", "F72022", 
              "F82022", "F92022", "F102022", "F112022", "F122022"]

#### Get Statistical Results

In [47]:
best_fit_statistic(test_folder="bio/cec22", test_names=c_names, models=bio_model_names)

                        BBO       BMO       EOA       IWO     Model       SMA  \
Problem Statictic
C1      min        0.015790  1.000000  0.133862  0.197421  0.000142  0.000009
        std        0.096597  0.157425  0.218550  0.568603  0.000611  0.000013
C10     min        0.559515  1.000000  0.749958  0.472604  0.477375  0.362983
        std        0.660694  0.000000  0.008434  0.565323  0.669597  0.856886
C11     min        0.547375  1.000000  0.609363  0.148097  0.213749  0.000000
        std        0.289478  0.000000  0.124857  0.817637  0.753531  1.000000
C12     min        0.830166  1.000000  0.585395  0.699469  0.590251  0.000000
        std        0.000000  0.602564  0.435487  0.522583  0.317372  1.000000
C2      min        0.013211  1.000000  0.148082  0.238731  0.001444  0.013486
        std        0.003429  1.000000  0.100981  0.409934  0.009979  0.017957
C3      min        0.001279  1.000000  0.131552  0.409227  0.000068  0.003058
        std        0.009313  0.613540  0.350026  0.745431  0.000538  0.044471
C4      min        0.235162  0.855059  0.361908  0.353322  0.091070  0.327006
        std        0.399914  0.540564  0.660506  1.000000  0.292781  0.926489
C5      min        0.004236  0.688796  0.269607  0.534724  0.003971  0.000514
        std        0.016887  0.442701  0.170889  0.727759  0.136137  0.204291
C6      min        0.002134  1.000000  0.003818  0.000374  0.000277  0.000628
        std        0.003576  1.000000  0.058976  0.039584  0.000077  0.000050
C7      min        0.003051  1.000000  0.062304  0.002315  0.027294  0.000000
        std        0.018038  0.723657  0.129849  0.194865  0.036879  0.021886
C8      min        0.011360  0.830469  0.023186  0.005904  0.018663  0.004948
        std        0.000000  1.000000  0.000000  0.000000  0.000000  0.000000
C9      min        0.020081  1.000000  0.173684  0.390411  0.002051  0.043705
        std        0.292923  1.000000  0.265260  0.430585  0.340427  0.000000

                        SOA       SOS       WHO
Problem Statictic
C1      min        0.809060  0.000000  0.001152
        std        1.000000  0.000000  0.001417
C10     min        0.937075  0.000000  0.627945
        std        0.074461  1.000000  0.350399
C11     min        0.780438  0.217764  0.436910
        std        0.112269  0.545837  0.362743
C12     min        0.892145  0.553536  0.709844
        std        0.731795  0.385822  0.208743
C2      min        0.438690  0.000000  0.003059
        std        0.566019  0.000000  0.014918
C3      min        0.640051  0.000000  0.000460
        std        1.000000  0.000000  0.001911
C4      min        1.000000  0.000000  0.076341
        std        0.960857  0.000000  0.356928
C5      min        1.000000  0.000000  0.004754
        std        1.000000  0.000000  0.406815
C6      min        0.434641  0.000000  0.000303
        std        0.483442  0.000000  0.000032
C7      min        0.279717  0.001073  0.015505
        std        1.000000  0.000000  0.010762
C8      min        1.000000  0.000000  0.005039
        std        0.064635  0.000000  0.000000
C9      min        0.461756  0.000000  0.003831
        std        0.608440  0.329431  0.343468

#### Compare Models by Ranking

In [48]:
best_fitness(test_folder="bio/cec22", test_names=c_names, models=bio_model_names)

In [49]:
compute_rank(test_folder="bio/cec22", test_names=c_names)

   Problem   BBO   BMO   EOA   IWO   SMA   SOA   SOS   WHO  Model
0       C1  5.00  7.40  6.00  7.64  2.00  8.96  1.00  4.00   3.00
1       C2  4.32  9.00  6.00  7.04  3.88  7.96  1.44  2.44   2.92
2       C3  4.00  8.76  6.00  7.00  5.00  8.24  1.00  3.00   2.00
3       C4  4.00  7.96  5.72  6.52  5.80  9.00  1.00  2.64   2.36
4       C5  2.60  7.48  5.52  7.52  2.52  9.00  1.04  5.40   3.92
5       C6  5.92  9.00  7.00  3.36  4.84  8.00  1.00  2.04   3.84
6       C7  3.92  8.92  6.56  5.76  2.24  8.08  1.48  2.76   5.28
7       C8  5.92  8.68  6.20  5.12  2.80  8.32  1.00  2.20   4.76
8       C9  3.44  9.00  5.76  7.04  4.32  7.96  1.00  2.48   4.00
9      C10  5.16  8.92  5.68  2.04  4.28  8.08  1.04  6.28   3.52
10     C11  6.04  8.96  5.28  2.24  3.00  8.04  2.92  5.88   2.64
11     C12  3.88  9.00  6.36  6.44  2.04  7.92  1.04  4.92   3.40

#### Compare Models by Signed Test

In [50]:
cec22 = signed_test(test_folder="bio/cec22", test_names=c_names, trial_size=25)
cec22

  Model2  (+)  (-)  Trials
0    BBO  106  194     300
1    BMO    0  300     300
2    EOA   34  266     300
3    IWO   70  230     300
4    SMA  156  144     300
5    SOA    1  299     300
6    SOS  270   30     300
7    WHO  129  171     300

### RESULTS OF ALL TESTS

The comparison of the ACSA model and other methods is as follows. (-) indicates how many of the results have the minimum value, that is, the WINNING score.

In [51]:
all = classic + cec22 
all

   Model2  (+)  (-)  Trials
0  BBOBBO  109  591     700
1  BMOBMO   10  690     700
2  EOAEOA   45  655     700
3  IWOIWO  291  409     700
4  SMASMA  379  321     700
5  SOASOA    5  695     700
6  SOSSOS  503  197     700
7  WHOWHO  337  363     700

In [52]:
classic.to_csv('results/bio_classic.csv', index=False)
cec22.to_csv('results/bio_cec.csv', index=False)
all.to_csv('results/bio_total.csv', index=False)