In [47]:
# fundamental libraries
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# utils
from utils.save_result import *
from utils.visualization import *
from utils.test_functions import *
from utils.engineering_problem import *
from utils.ourmodel import *

In [48]:
evolutionary_model_names = ["OriginalCRO", "BaseDE", "OriginalES", "OriginalFPA", "BaseGA", "OriginalMA", "Model"]

### CLASSICAL TEST FUNCTION

In [49]:
f_names = ["F1", "F2", "F3", "F4", "F5", "F6", "F7", "F8", "F9", "F10", "F11", "F12", "F13", "F14", "F15", "F16"]

f_function = ["Ackley2", "Brent", "ChungReynolds", "Cigar", "Matyas", "Leon", "Michalewicz", "CrossInTray", 
                   "Hosaki", "Langermann", "Levy5", "Mishra5", "Alpine2","Hansen", "Himmelblau", "Chichinadze"]

#### Get Statistical Results

In [50]:
best_fit_statistic(test_folder="evolutionary/classic", test_names=f_names, models=evolutionary_model_names)

                        CRO        DE        ES       FPA        GA        MA  \
Problem Statictic
F1      min        0.023035  0.000204  0.001654  0.007434  0.029837  1.000000
        std        0.071030  0.000909  0.016242  0.069637  0.261015  1.000000
F10     min        0.000108  0.000024  0.001159  0.006764  0.017537  1.000000
        std        1.000000  0.000000  0.006485  0.056687  0.868645  0.083104
F11     min        0.000540  0.000663  0.000134  0.001622  0.012045  1.000000
        std        1.000000  0.026446  0.026050  0.361077  0.642932  0.948909
F12     min        0.000744  0.000000  0.000000  0.566167  1.000000  0.044765
        std        1.000000  0.000000  0.000008  0.127843  0.705357  0.000000
F13     min        0.004534  0.000046  0.006910  0.000335  0.004118  1.000000
        std        0.028710  0.000000  0.039020  0.004297  0.719180  1.000000
F14     min        0.005341  0.000000  0.025661  0.000904  0.001169  1.000000
        std        0.611978  0.010756  0.019651  0.008347  0.528395  1.000000
F15     min        0.000642  0.000129  0.009923  0.000446  0.595849  1.000000
        std        0.035238  0.004297  0.025066  0.002147  0.387457  1.000000
F16     min        0.000241  0.000000  0.004600  0.040293  0.001663  1.000000
        std        0.139983  0.000000  0.042039  0.035907  1.000000  0.759526
F2      min        0.000000  0.000000  0.000000  1.000000  0.202376  0.000000
        std        0.000000  0.000000  0.000000  0.666239  1.000000  0.000000
F3      min        0.000000  0.000000  0.000000  0.000001  0.000963  1.000000
        std        0.000189  0.000000  0.000000  0.000038  0.003718  1.000000
F4      min        1.000000  0.000001  0.000177  0.135314  0.217151  0.360609
        std        0.010950  0.000000  0.000123  0.000052  1.000000  0.712916
F5      min        0.011028  0.000000  0.001827  0.001452  0.006089  1.000000
        std        0.219044  0.000000  0.001237  0.006150  1.000000  0.154802
F6      min        0.002788  0.000000  0.007548  0.000820  0.040301  1.000000
        std        0.353457  0.000000  0.016868  0.005077  1.000000  0.297671
F7      min        0.000141  0.000000  0.003447  0.000013  0.003982  1.000000
        std        0.002282  0.000000  0.039250  0.009925  0.039789  1.000000
F8      min        0.004813  0.000093  0.008005  0.000278  0.009034  1.000000
        std        0.003606  0.000001  0.000978  0.000105  0.020941  1.000000
F9      min        0.024413  0.000024  0.497917  0.037507  1.000000  0.000000
        std        0.016528  0.000001  0.070895  0.032151  1.000000  0.000000

                      Model
Problem Statictic
F1      min        0.000000
        std        0.000000
F10     min        0.000000
        std        0.008857
F11     min        0.000000
        std        0.000000
F12     min        0.000000
        std        0.000004
F13     min        0.000000
        std        0.000111
F14     min        0.000638
        std        0.000000
F15     min        0.000000
        std        0.000000
F16     min        0.000002
        std        0.038970
F2      min        0.000000
        std        0.000000
F3      min        0.000000
        std        0.000000
F4      min        0.000000
        std        0.000000
F5      min        0.000006
        std        0.000022
F6      min        0.000001
        std        0.013997
F7      min        0.000003
        std        0.000081
F8      min        0.000000
        std        0.000000
F9      min        0.000975
        std        0.000235

#### Compare Models by Ranking

In [51]:
best_fitness(test_folder="evolutionary/classic", test_names=f_names, models=evolutionary_model_names)

In [52]:
compute_rank(test_folder="evolutionary/classic", test_names=f_names)

   Problem   CRO    DE    ES   FPA    GA    MA  Model
0       F1  4.08  2.00  3.00  4.92  6.00  7.00   1.00
1       F2  1.00  1.00  1.00  6.88  6.12  1.00   1.00
2       F3  3.84  1.00  1.40  4.92  6.00  7.00   1.00
3       F4  5.08  2.00  3.28  3.72  6.00  6.92   1.00
4       F5  5.08  1.00  3.04  3.96  6.24  6.68   1.40
5       F6  4.84  1.00  4.24  2.84  6.16  6.76   2.08
6       F7  3.04  1.00  5.92  3.88  5.08  7.00   1.76
7       F8  4.92  1.52  4.04  2.76  6.00  7.00   1.04
8       F9  4.00  1.00  6.00  5.00  7.00  1.00   2.60
9      F10  4.04  1.96  3.64  5.08  5.68  6.52   1.08
10     F11  4.88  2.88  2.28  4.36  5.60  7.00   1.00
11     F12  5.44  1.00  1.88  5.64  6.72  4.20   1.52
12     F13  4.04  1.32  5.04  3.00  5.92  7.00   1.48
13     F14  4.96  2.56  4.32  2.40  5.72  7.00   1.04
14     F15  4.32  2.28  4.68  2.72  6.00  7.00   1.00
15     F16  3.96  1.00  3.48  4.52  6.00  6.88   2.16

#### Compare Models by Signed Test

In [53]:
classic = signed_test(test_folder="evolutionary/classic", test_names=f_names, trial_size=25)
classic

  Model2  (+)  (-)  Trials
0    CRO   18  382     400
1     DE  141  259     400
2     ES   15  385     400
3    FPA   26  374     400
4     GA    5  395     400
5     MA   20  380     400

### CEC22 FUNCTION

In [54]:
c_names = ["C1", "C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10", "C11", "C12"]
c_function = ["F12022", "F22022", "F32022", "F42022", "F52022", "F62022", "F72022", 
              "F82022", "F92022", "F102022", "F112022", "F122022"]

#### Get Statistical Results

In [55]:
best_fit_statistic(test_folder="evolutionary/cec22", test_names=c_names, models=evolutionary_model_names)

                        CRO        DE        ES       FPA        GA        MA  \
Problem Statictic
C1      min        0.119163  1.000000  0.325350  0.319759  0.003395  0.567614
        std        0.766904  0.820920  1.000000  0.225434  0.247435  0.368234
C10     min        0.195590  0.798540  0.000000  1.000000  0.739554  0.666627
        std        0.824672  0.228687  1.000000  0.000000  0.514243  0.123781
C11     min        0.376475  1.000000  0.140362  0.677209  0.576205  0.746135
        std        0.885732  0.000000  0.850291  0.130388  0.624680  0.075794
C12     min        1.000000  0.732267  0.767910  0.349280  0.589753  0.450265
        std        0.000000  0.005011  1.000000  0.679841  0.129990  0.391317
C2      min        0.153050  0.425017  0.582892  0.609242  0.053271  1.000000
        std        0.211619  0.011063  1.000000  0.187888  0.000000  0.089003
C3      min        0.048673  0.926960  0.883787  0.587695  0.004314  1.000000
        std        0.158782  0.206897  1.000000  0.204463  0.012625  0.300507
C4      min        0.104330  1.000000  0.207809  0.175513  0.068066  0.392738
        std        1.000000  0.602974  0.781465  0.211755  0.819666  0.245208
C5      min        0.206448  1.000000  0.373093  0.250758  0.006431  0.516716
        std        0.294483  0.787073  1.000000  0.000000  0.002963  0.210156
C6      min        0.001794  0.024230  0.006167  0.028157  0.001903  1.000000
        std        0.098595  0.150831  0.000000  0.945332  0.397904  1.000000
C7      min        0.000000  0.539469  0.306870  0.921912  0.053348  1.000000
        std        0.151507  0.081179  1.000000  0.290176  0.000000  0.218446
C8      min        0.001819  0.004849  0.010852  0.012447  0.000000  1.000000
        std        0.000038  0.000000  0.000025  0.000005  0.000533  1.000000
C9      min        0.086297  0.415809  0.630883  0.593123  0.011862  1.000000
        std        0.786657  0.000000  0.700832  0.421781  0.810790  0.011991

                      Model
Problem Statictic
C1      min        0.000000
        std        0.000000
C10     min        0.302550
        std        0.768677
C11     min        0.000000
        std        1.000000
C12     min        0.000000
        std        0.643068
C2      min        0.000000
        std        0.001551
C3      min        0.000000
        std        0.000000
C4      min        0.000000
        std        0.000000
C5      min        0.000000
        std        0.069861
C6      min        0.000000
        std        0.004087
C7      min        0.130871
        std        0.108694
C8      min        0.002859
        std        0.000025
C9      min        0.000000
        std        1.000000

#### Compare Models by Ranking

In [56]:
best_fitness(test_folder="evolutionary/cec22", test_names=c_names, models=evolutionary_model_names)

In [57]:
compute_rank(test_folder="evolutionary/cec22", test_names=c_names)

   Problem   CRO    DE    ES   FPA    GA    MA  Model
0       C1  3.60  6.96  5.72  3.56  2.00  5.16   1.00
1       C2  3.16  3.84  6.32  5.40  1.96  6.28   1.04
2       C3  3.00  5.12  6.88  4.00  2.00  6.00   1.00
3       C4  4.68  7.00  3.80  3.40  2.08  5.92   1.12
4       C5  3.12  7.00  5.60  3.88  1.04  5.40   1.96
5       C6  2.68  4.68  2.36  6.00  4.24  7.00   1.04
6       C7  2.24  4.24  5.60  6.12  1.04  6.00   2.76
7       C8  4.92  1.28  4.60  3.28  3.92  7.00   3.00
8       C9  3.80  3.36  6.88  4.20  2.04  6.04   1.68
9      C10  5.92  5.16  2.68  3.12  4.76  4.24   2.12
10     C11  5.04  5.84  2.80  3.88  4.68  4.00   1.76
11     C12  4.40  2.80  6.28  5.96  1.72  4.84   2.00

#### Compare Models by Signed Test

In [58]:
cec22 = signed_test(test_folder="evolutionary/cec22", test_names=c_names, trial_size=25)
cec22

  Model2  (+)  (-)  Trials
0    CRO   66  234     300
1     DE   54  246     300
2     ES   54  246     300
3    FPA   48  252     300
4     GA  102  198     300
5     MA   21  279     300

### RESULTS OF ALL TESTS

The comparison of the ACSA model and other methods is as follows. (-) indicates how many of the results have the minimum value, that is, the WINNING score.

In [59]:
all = classic + cec22 
all

   Model2  (+)  (-)  Trials
0  CROCRO   84  616     700
1    DEDE  195  505     700
2    ESES   69  631     700
3  FPAFPA   74  626     700
4    GAGA  107  593     700
5    MAMA   41  659     700

In [60]:
classic.to_csv('results/evolutionary_classic.csv', index=False)
cec22.to_csv('results/evolutionary_cec.csv', index=False)
all.to_csv('results/evolutionary_total.csv', index=False)