In [51]:
# fundamental libraries
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# utils
from utils.save_result import *
from utils.visualization import *
from utils.test_functions import *
from utils.engineering_problem import *
from utils.ourmodel import *

In [52]:
system_model_names = ["OriginalAEO", "OriginalGCO", "Model"]

### CLASSICAL TEST FUNCTION

In [53]:
f_names = ["F1", "F2", "F3", "F4", "F5", "F6", "F7", "F8", "F9", "F10", "F11", "F12", "F13", "F14", "F15", "F16"]

f_function = ["Ackley2", "Brent", "ChungReynolds", "Cigar", "Matyas", "Leon", "Michalewicz", "CrossInTray", 
                   "Hosaki", "Langermann", "Levy5", "Mishra5", "Alpine2","Hansen", "Himmelblau", "Chichinadze"]

#### Get Statistical Results

In [54]:
best_fit_statistic(test_folder="system/classic", test_names=f_names, models=system_model_names)

                   AEO       GCO     Model
Problem Statictic
F1      min        0.0  1.000000  0.000000
        std        0.0  1.000000  0.000000
F10     min        0.0  1.000000  0.008166
        std        0.0  1.000000  0.195408
F11     min        0.0  1.000000  0.005888
        std        1.0  0.568143  0.000000
F12     min        0.0  0.000002  1.000000
        std        0.0  0.000055  1.000000
F13     min        0.0  1.000000  0.005756
        std        0.0  1.000000  0.045539
F14     min        0.0  1.000000  0.025820
        std        1.0  0.325749  0.000000
F15     min        0.0  1.000000  0.001116
        std        0.0  1.000000  0.015443
F16     min        0.0  0.680039  1.000000
        std        1.0  0.000000  0.680237
F2      min        0.0  0.000000  0.000000
        std        0.0  0.000000  0.000000
F3      min        0.0  1.000000  0.000000
        std        0.0  1.000000  0.000000
F4      min        0.0  1.000000  0.000000
        std        0.0  1.000000  0.000000
F5      min        0.0  1.000000  0.022085
        std        0.0  1.000000  0.057688
F6      min        0.0  1.000000  0.005812
        std        0.0  0.147270  1.000000
F7      min        0.0  0.244847  1.000000
        std        0.0  0.074446  1.000000
F8      min        0.0  1.000000  0.016524
        std        0.0  1.000000  0.202196
F9      min        0.0  0.528513  1.000000
        std        0.0  0.148816  1.000000

#### Compare Models by Ranking

In [55]:
best_fitness(test_folder="system/classic", test_names=f_names, models=system_model_names)

In [56]:
compute_rank(test_folder="system/classic", test_names=f_names)

   Problem   AEO   GCO  Model
0       F1  1.00  3.00   1.00
1       F2  1.00  1.00   1.00
2       F3  1.00  1.40   1.00
3       F4  1.00  3.00   1.00
4       F5  1.00  3.00   1.40
5       F6  1.00  2.80   2.12
6       F7  1.00  1.28   2.52
7       F8  1.00  2.92   1.44
8       F9  1.00  1.76   2.04
9      F10  1.00  3.00   1.96
10     F11  1.08  2.96   1.96
11     F12  1.00  1.00   2.04
12     F13  1.00  3.00   1.88
13     F14  1.08  2.96   1.96
14     F15  1.00  3.00   1.96
15     F16  2.04  1.48   2.44

#### Compare Models by Signed Test

In [57]:
classic = signed_test(test_folder="system/classic", test_names=f_names, trial_size=25)
classic

  Model2  (+)  (-)  Trials
0    AEO  226  174     400
1    GCO   72  328     400

### CEC22 FUNCTION

In [58]:
c_names = ["C1", "C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10", "C11", "C12"]
c_function = ["F12022", "F22022", "F32022", "F42022", "F52022", "F62022", "F72022", 
              "F82022", "F92022", "F102022", "F112022", "F122022"]

#### Get Statistical Results

In [59]:
best_fit_statistic(test_folder="system/cec22", test_names=c_names, models=system_model_names)

                        AEO       GCO     Model
Problem Statictic
C1      min        0.013465  1.000000  0.000000
        std        0.088353  1.000000  0.000000
C10     min        0.000000  1.000000  0.071964
        std        1.000000  0.000000  0.882160
C11     min        0.000000  1.000000  0.110161
        std        0.962523  0.000000  1.000000
C12     min        1.000000  0.974480  0.000000
        std        0.346387  0.000000  1.000000
C2      min        0.196981  1.000000  0.000000
        std        1.000000  0.468983  0.000000
C3      min        0.008772  1.000000  0.000000
        std        0.296142  1.000000  0.000000
C4      min        0.000000  1.000000  0.001237
        std        1.000000  0.631816  0.000000
C5      min        0.040740  1.000000  0.000000
        std        0.197919  1.000000  0.000000
C6      min        0.000000  1.000000  0.027222
        std        0.000000  1.000000  0.020405
C7      min        0.000000  1.000000  0.006534
        std        0.000000  1.000000  0.022543
C8      min        0.000000  1.000000  0.061470
        std        0.000000  0.323299  1.000000
C9      min        0.029533  1.000000  0.000000
        std        0.921576  0.000000  1.000000

#### Compare Models by Ranking

In [60]:
best_fitness(test_folder="system/cec22", test_names=c_names, models=system_model_names)

In [61]:
compute_rank(test_folder="system/cec22", test_names=c_names)

   Problem   AEO   GCO  Model
0       C1  2.00  3.00   1.00
1       C2  2.00  3.00   1.00
2       C3  2.00  3.00   1.00
3       C4  1.72  3.00   1.28
4       C5  1.64  3.00   1.36
5       C6  1.00  3.00   2.00
6       C7  1.04  3.00   1.96
7       C8  1.00  2.80   2.20
8       C9  2.24  2.44   1.32
9      C10  2.52  2.24   1.24
10     C11  2.68  2.00   1.32
11     C12  3.00  1.76   1.24

#### Compare Models by Signed Test

In [62]:
cec22 = signed_test(test_folder="system/cec22", test_names=c_names, trial_size=25)
cec22

  Model2  (+)  (-)  Trials
0    AEO  116  184     300
1    GCO   40  260     300

### RESULTS OF ALL TESTS

The comparison of the ACSA model and other methods is as follows. (-) indicates how many of the results have the minimum value, that is, the WINNING score.

In [63]:
all = classic + cec22 
all

   Model2  (+)  (-)  Trials
0  AEOAEO  342  358     700
1  GCOGCO  112  588     700

In [64]:
classic.to_csv('results/system_classic.csv', index=False)
cec22.to_csv('results/system_cec.csv', index=False)
all.to_csv('results/system_total.csv', index=False)